@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outline-summary {
    outline: 2px solid hsla(var(--bc) / 0.2);
    outline-offset: 2px;
  }

  .badge-score {
    @apply badge absolute right-0 top-0 rounded-none rounded-bl-md;
  }

  .grid-table {
    @apply grid;
    box-sizing: border-box;
    min-width: max-content;
  }

  .grid-table > .grid-table-cell {
    box-sizing: border-box;
    white-space: nowrap;
    padding: 1rem;
    vertical-align: middle;
    min-width: min-content;
  }
}

html,
body {
  height: 100%;
}
