@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .outline-summary {
    outline: 2px solid hsla(var(--bc) / 0.2);
    outline-offset: 2px;
  }

  .badge-score {
    @apply badge absolute right-0 top-0 rounded-none rounded-bl-md;
  }
}

html,
body {
  height: 100%;
}
